
block content
  div.container
    div.row
      div.col
        h1 Perdeu a senha
        p Entre com seu email para recuperar a senha
        div.forgot-message.alert.alert-success(style="display:none;") Email address received. If you have an email on file we will send you a reset email. Please wait a few minutes and check your spam folder if you don't see it.
        form#forgotPasswordForm.form-inline(onsubmit="return false;")
          div.form-group
            label.sr-only(for="email") Endereço de email:
            input.form-control.mr-2#emailFp(type='email', name='email', placeholder="Email address")
          div.form-group.mt-1.text-center
            button#fpButton.btn.btn-success.mb-2(type='submit') Perdeu a senha
 
  script.
    $('#fpButton').on('click', function() {
      $.post('/forgot-password', {
        email: $('#emailFp').val(),
      }, function(resp) { 
        $('.forgot-message').show();
        $('#forgotPasswordForm').remove();
      });
    });